<div class="modal">

      <ion-header-bar class="bar-secondary">
        <h1 class="title" ng-show="currentTaskId == -1">Forgot Password</h1>
	<button class="button button-clear button-positive" ng-click="closeForgotPassword()">Back</button>
      </ion-header-bar>

      <ion-content>
<ion-list>
  
<center>
<h4>Please enter your Email</h4>
<center>
  <ion-item>
    <ion-label stacked><input type="text" placeholder="abc@gmail.com" ng-model="activeTask.email" /></ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <div class="padding">
<button type="submit" class="button button-block button-positive"  ng-click="SendNewPass()">Send</button>
</div>
</ion-list>
      </ion-content>

</div>
