<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >

    <splash src="img/icon/bc.png" />

    <name>Todolist v.1</name>
    <description>Todolist v.1</description>
    <author href="http://cemoe.com" email="romuriy@gmail.com">
		Roman Yurkevych	</author>
	<platform name="android" />
	
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
	<plugin name="cordova-plugin-splashscreen" spec="~4.0.2" />
	<plugin name="cordova-plugin-file-transfer" spec="~1.6.2" />
	<plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
	<plugin name="cordova-plugin-media" spec="~3.0.0" />
	<plugin name="cordova-plugin-file" spec="~4.3.2" />
	<plugin name="cordova-plugin-splashscreen" spec="~4.0.2" />

</widget>