<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="ToDo" ng-controller="ToDoCtrl">

    <ion-pane>
      <ion-header-bar class="bar-positive">
        <h1 class="title">ToDo</h1>
	<button class="button icon ion-plus" ng-click="addNewTask()"></button>
      </ion-header-bar>

      <ion-content>
	<ion-list>
		<ion-item ng-repeat="task in tasks" class="item item-checkbox item-icon-right animated" ng-class="{'checked' : task.done}">
			<label class="checkbox">
				<input type="checkbox" ng-model="task.done" ng-click="saveTasks()" />
			</label>
			<span class="title" ng-click="openTask($index)">{{ task.title }}</span>
			<i class="icon ion-close-circled deleteItem" ng-click="deleteTask($index)"></i>
		</ion-item>
	</ion-list>
      </ion-content>

    </ion-pane>

  </body>
</html>












