<div class="modal">

      <ion-header-bar class="bar-positive">
      <button class="button icon ion-person" ng-click="Login()"></button>
        <h1 class="title">YourDream Map</h1>
      </ion-header-bar>
      <ion-content>
          <center>
           MAP
          </center>
      </ion-content>
      <ion-footer-bar class="bar-secondary">
      <button class="button icon ion-ios7-bookmarks" ng-click="closeWindowMap()"></button>
  <button class="button icon ion-camera" onclick="navigator.camera.getPicture(cameraSuccess, cameraError, cameraOptions);"></button>
      </ion-footer-bar>

</div>
